{% extends 'users/layout/main.html' %}

{% block main_content %}
    <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100 gx-0">

            <div class="col-12 col-md-5 col-lg-4">
                <div class="card card-shadow border-0">
                    <div class="card-body">
                        <form action="{% url 'auth_signup' %}" method="post">
                            {% csrf_token %}
                            <div class="row g-6">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h3 class="fw-bold mb-2">Sign Up</h3>
                                        <p>Follow the easy steps</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="signup-email" name="email"
                                               placeholder="Email">
                                        <label for="signup-email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-block btn-lg btn-primary w-100" type="submit"
                                            onclick="set_email_cookie()">
                                        Send Verification Code
                                    </button>
                                    <p class="form-text">Verification code wil sent your email address check your
                                        email</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-8">
                    <p>Already have an account? <a href="{% url 'auth_signin' %}">Sign in</a></p>
                </div>

            </div>
        </div>
    </div>
    <script>
        function set_email_cookie() {
            let email = document.getElementById('signup-email').value
            document.cookie = "email=" + email
        }
    </script>
{% endblock %}